
<div ng-app="app">
  <div ng-controller="resumeCtrl" ng-init="setup()">
      <input ng-model="nameFilter" placeholder="Search">
      <div ng-repeat="resume in resumes |filter: {firstName: nameFilter}">
        <img src={{resume.photo}}>
        <h3>Name: {{resume.firstName}} {{resume.lastName}}</h3>
        <h4>Personal Info:</h4>
        <p>phone number: {{resume.phoneNumber}}</p>
        <p>Bio: {{resume.bio}}</p>
        <p>Twitter Handle: @{{resume.twitterHandle}}</p>
        <a href={{resume.linkedInUrl}}>LinkedIn</a>
        <a href={{resume.email}}>Email</a>
        <br>
        <a href='/resumes/{{resume.id}}'>Resume</a>
        <br>
        <a href={{resume.githubUrl}}>Github</a>


        <h4>Education: </h4>
        <div ng-repeat="education in resume.educations">
        <p>{{education.startDate}}</p>
        <p>{{education.endDate}}</p>
        <p>{{education.degree}}</p>
        <p>{{education.universityName}}</p>
        <p>{{education.details}}</p>
        <p>{{education.studentId}}</p>
        </div>
        <h4>Experiences</h4>
        <div ng-repeat="experience in resume.experiences">
         <p>{{experience.startDate}}</p>
        <p>{{experience.endDate}}</p>
        <p>{{experience.jobTitle}}</p>
        <p>{{experience.companyName}}</p>
        <p>{{experience.details}}</p>
        <p>{{experience.studentId}}</p>
        </div>
        <h4>Skills: </h4>
        <div ng-repeat="skill in resume.skills">
         <p>{{skill.name}}</p>
        <p>{{skill.studentId}}</p>
        </div>
        <hr>
    </div>
  </div>
</div>