<div ng-app="app">
<div ng-controller="showCtrl">
<div ng-init="setup(<%= @id %>)">
<p>First name: {{resume.firstName}}</p>
  <p>Last name: {{resume.lastName}}</p>
  <p>email: {{resume.email}}</p>
  <p>phone number: {{resume.phoneNumber}}</p>
  <p>Bio: {{resume.bio}}</p>
  <p>LinkedIn URL: {{resume.linkedInUrl}}</p>
  <p>Twitter Handle: {{resume.twitterHandle}}</p>
  <p>resume Url: {{}}</p>
  <p>Github Url: {{resume.githubUrl}}</p>
  <p>Photo: {{resume.photo}}</p>

  <h4>Education: </h4>
    <div ng-repeat="education in resume.educations">
      <p>{{education.startDate}}</p>
      <p>{{education.endDate}}</p>
      <p>{{education.degree}}</p>
      <p>{{education.universityName}}</p>
      <p>{{education.details}}</p>
      <p>{{education.studentId}}</p>
    </div>
    <h4>Experiences</h4>
    <div ng-repeat="experience in resume.experiences">
      <p>{{experience.startDate}}</p>
      <p>{{experience.endDate}}</p>
      <p>{{experience.jobTitle}}</p>
      <p>{{experience.companyName}}</p>
      <p>{{experience.details}}</p>
      <p>{{experience.studentId}}</p>
    </div>
    <h4>Skills: </h4>
    <div ng-repeat="skill in resume.skills">
      <p>{{skill.name}}</p>
      <p>{{skill.studentId}}</p>
    </div>
</div>
</div>
</div>